body{
	margin: 0px;
	padding: 0px;
}

#body-header{
	height: 70vh;
	/*opacity: 0.8;*/
	background-image: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000000020_1549743985_macbook_mouse.jpg);
	
	background-size:cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;


}
.text-center{
	text-align: center;
}

input:focus, textarea:focus, select:focus{
        outline: none;
    }

  /*Horizontal lists*/

#nav-menu-list{
  padding:0;
  margin:0;
}

.horizontal-list{
	list-style: none;
	margin: auto;
	
	
}

.horizontal-list li{
  display: inline-block;
  padding: 10px;
  margin-top: 23px;

}

.horizontal-list li a{
	color: white;
	font-family: sans-serif;
	text-decoration: none;
	font-size: 1.4rem;
}

.nav-menu li a:hover{
	color: #acb199;
	border-bottom: 1px solid white;
	transition: 0.4s;
}

#social-container #name h1{
	font-family: sans-serif;
	font-size: 4rem;
	color: white;
	margin-top: 190px;
}

#social-icons{
  margin-top: -8px;
}

#social-icons li{
	padding: 20px;
	margin-top: -10px;
	width: 4rem;
	margin-left: -20px;
}

#social-icons li:hover{
	border-radius: 50%;
	box-shadow: 0px 0px 20px dimgrey;
}

section{
	/*width: 100vw;*/
	/*height: 75vh;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;

}
section:nth-child(2n)
{
	background-color: #e3e7e8;
}
section:nth-child(2n+1)
{
	background-color: white;
}
    /*About section.......*/
#about #my-img img{
	border-radius: 50%;
	width: 250px;
	height: 250px;
	position: relative;
     margin-top: -7rem;
     border:4px solid white;
     box-shadow: 0px 0px 20px black;
}

#about #my-para p{
	text-align: justify;
	width:65vw;
	margin:auto;
	padding: 40px;
	font-family: sans-serif;
	color: grey;
	font-size: 1.5rem;
	word-spacing: 0.7rem;
	font-weight: 520;
	font-style: bold;
	line-height: 2rem;
}

.text-highlight{
	color: blue;
	font-weight: 700;
}

   /*........Skills Section......*/

#skills{
   display: flex;
   /*width:100%;*/
   height: auto;
   /*margin: auto;*/
   /*justify-content: center;*/


}

#skills-heading h2{
	display: flex;
	

}
#skills-heading h2{
	font-family: sans-serif;
	font-size: 2.1rem;
	color: blue;
}


.skills-icons{
	 width:70%;
	 height:auto;
     display: flex;
     align-items: center;
     flex-direction: row;
     justify-content: center;
     flex-wrap: wrap;

}
.progress{
	margin: 1.5rem;
}

.progress{
  display: inline-block;
	background-color:lightgrey;
	border-radius: 1.4rem;
	width:15rem;
	height: 2rem;
	border: 2px solid lightgrey;
}

.eighty-five-percent{
	background-color: red;
	height: inherit;
	width: 95%;
	border-top-left-radius: inherit;
	border-bottom-left-radius: inherit;
	box-shadow: 10px 0px 10px grey;
}
/*percent progress class*/
.eighty-five-percent .name span{
	color: white;
	font-family: sans-serif;
	font-weight: 700;
	font-size: 1.4rem;
	padding-left: 1rem;
	
}

#fifty-percent{
   background-color: orange;
   width: 95%;
   box-shadow: 10px 0px 10px grey;
}


#seventy-percent{
	background-color: green;
	width: 90%;
	box-shadow: 10px 0px 10px grey;
}
#forty-nine-percent{
	background-color: teal;
	width: 85%;
	box-shadow: 10px 0px 10px grey;
}
#fifty-five-percent{
	background-color: violet;
	width:92%;
	box-shadow: 10px 0px 10px grey;
}

#sixty-percent{
	background-color: red;
	width:80%;
	box-shadow: 10px 0px 10px grey;
}


/*.......Experience Section........*/


#experience{
  display: flex;
  padding:30px;

}

#experience-heading{
    color:blue;
    font-family: sans-serif;
    font-size: 2.8rem;
    font-weight: 600;
    margin:60px;
}

#experience-container{
  position: relative;
  width:65%;
  /*border:2px solid black;*/
  margin-bottom: 100px;
}

.timeline-box{
 position: relative;
  left: 0%;
  margin: 5px;
  /*border:2px solid black;*/
  height:auto;
  width:35%;

}

.timeline-box:nth-child(2n){
  left:64%;
}


.timeline-divider{
   position: absolute;
   top:108px;
   left:50%;
   height: 75%;
   width: 0;
   border-left:2px dashed #7aadff; 

}

.timeline-traveller{
  position: sticky;
  font-size: 2.3rem;
  top:20%;
  color: #264373;
  transform: rotate(90deg);
  margin-top: -26px;
  z-index: 3;
}

.timeline-box:nth-child(2n+1)::after{
  content: '';
  position:absolute;
  top:35%;
  right: -43.2%;
  border-radius: 50%;
  height: 0.6rem;
  width:0.6rem;
  background-color: grey;
  z-index: 1;

}

.timeline-box:nth-child(2n)::after{
  content: '';
  position:absolute;
  top:40%;
  left: -41.8%;
  border-radius: 50%;
  height: 0.6rem;
  width:0.6rem;
  background-color: grey;
  z-index: 1;

}
.timeline-box img{
  margin-top: 25px;
 width: 15%;
 height: 25%;


}
.timeline-img{
  position: absolute;
  bottom:73%;
  left: 0;
}
.designation{
  text-align: right;
  font-family: sans-serif;
  color:blue;
  font-weight: 600;
  font-size: 1.9rem;
}
.company-name{
  color: #f21607;
  font-family: sans-serif;
  font-size: 1.5rem;
  text-align: right;
  margin-top: -15px;
}

.month{
  font-family: sans-serif;
  color:grey;
  text-align: right;
  margin-top: -25px;
  font-size: 1.2rem;
}

.timeline-content{
  font-family: sans-serif;
  color:grey;
  font-size: 1.2rem;
  text-align: justify;
  word-spacing: 1rem;
}
/*.designation{
  display: inline-block;
  color:blue;
  font-size: 1.5rem;
  font-family: sans-serif;
  font-weight: 600;
  margin-left: 46%;
}*/
/*......Portfolio Section........*/
#portfolio{
  display: flex;
  flex-direction: column;
  align-items: center;
  /*width: 100%;*/
  height: auto;
  padding: 20px;
  /*background-color: pink;*/
}

.portfolio-heading{
  color:blue;
  font-family: sans-serif;
  font-size: 1.8rem;
}
.portfolio-img-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width:80%;
  height: 100%;
  /*background-color: yellow;*/

}
.portfolio-img{
  position: relative;
  margin: 20px;
}
.portfolio-img:hover{
  /*margin:20px 10px;*/
  
  box-shadow: 0px 0px 10px black;


}

.portfolio-img img{
  height: 300px;
  width: 350px;
  margin:30px;
  padding: 10px;

}

.img-content{
  transition: all 0.8s ease-in-out;
  position:absolute;
  justify-content: center;
  align-content: center;
  top: 0;
  left: 0;
  height: 100%;
  color:transparent;
  font-family: sans-serif;
  font-size: 3rem;
  text-align: center;

  

}
.portfolio-img:hover .img-content{
     
    background-color:#80808078;
    color: white;

  
}



/*........Contact Section..........*/

#contact{
    /*width:100%;*/
    height: 50vh;
    background-image: linear-gradient(45deg,#2857a4,#403066);
    flex-direction:column;
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    
}

.contact-heading{
    color:white;
    font-family:sans-serif;
    font-size:2rem;
    margin-top:50px;
}

#contact-input{
	display: flex;
	width:45%;
	height: auto;
	background-color: black;
	flex-wrap: wrap;
	flex-direction: column;
}

.inputs{
	height: 1rem;
	width: 75%;
	/*background-color: #2857a4;*/
}
.inputs input{
    height: inherit;
    border: none;
}

/*......Contact Section.......*/


#contact{
    display:flex;
    /*width:100%;*/

    height: auto;
    background-image: linear-gradient(45deg,#2857a4,#403066);
    flex-direction:column;
    align-items:center;
    flex-wrap:wrap;
    
}

.contact-heading{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:20%;
    color:white;
    font-family:sans-serif;
    font-size:2.5rem;
    margin-bottom:50px;
    padding-top:50px;
/*     background-color:yellow; */
}
.contact-info-container{
    display:flex;
    justify-content:space-around;
    align-items:center;
    width:75%;
    height:auto;
/*     background-color:pink; */
}

.contact-input{
    text-align:center;
/*     background-color:grey; */
    height:100%;
    width:45%;
    max-width:450px;

}

input{
    width:80%;
    max-width:600px;
    background-color:inherit;
    border: 0px solid transparent;
    border-bottom: 1px solid white;
    padding :10px;
    margin:10px;
    
}

input:hover{
/*     border-style: none; */
     /*border-bottom: 1px solid transparent; */

}

.btn{
    border: 2px solid white;
  background-color: inherit;
  padding: 7px 5px;
  font-size: 16px;
    font-weight:600;
    letter-spacing:0.01rem;
  cursor: pointer;
  display: inline-block;
    margin:10px ;
    color:white;
    
}

.btn:hover{
  background-color: white;
  color: inherit;
}


.contact-info{
/*     background-color:grey; */
    height:100%;
    width:45%;
     max-width:450px;
}

#get-in-touch{
    color:white;
    font-size:1rem;
    margin:0px;
    padding:0px;
}

#contact-para{
    font-size:0.7rem;
    color:white;
}

#my-address{
    color:white;
    font-size:1rem;
    font-weight:600;
}

.location-number-email{
    color:white;
    font-size:0.8rem;
    
}

#contact-social-icons{
    margin-bottom:40px;
}
#contact-social-icons li{
/*     background-color:black; */
    margin:8px;
    padding-top:20px;
}
